<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Bank of Oklahoma</title>
        <meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<!-- Stylesheets -->
<link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />

<!-- Modernizr -->
<script src="javascripts/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>

<!-- JavaScript -->
<script src="javascripts/vendor/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery-ui.min.js" type="text/javascript"></script>

<!-- Plugins -->
<script src="javascripts/vendor/respond.js" type="text/javascript"></script>
<script src="javascripts/vendor/pushy.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.megamenu.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.visible.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.mask.js" type="text/javascript"></script> <!-- Phone and ZIP Masking -->
<script src="javascripts/vendor/jquery.alphanumeric.js" type="text/javascript"></script>
<script src="javascripts/vendor/tipso.js" type="text/javascript"></script>
<script src="javascripts/vendor/slick.js" type="text/javascript"></script>

<!-- Custom -->
<script src="javascripts/jquery.accordion.js" type="text/javascript"></script>
<script src="javascripts/equalheight.js" type="text/javascript"></script>
<script src="javascripts/password.js" type="text/javascript"></script>
<script src="javascripts/username.js" type="text/javascript"></script>
<script src="javascripts/plugins.js" type="text/javascript"></script>
<script src="javascripts/payee.js" type="text/javascript"></script>
<script src="javascripts/payee.filter.js" type="text/javascript"></script>
<script src="javascripts/datepicker.js" type="text/javascript"></script>
<script src="javascripts/transactionHistory.js" type="text/javascript"></script>
<script src="javascripts/field-validation.js" type="text/javascript"></script>
<script src="javascripts/transfers.js" type="text/javascript"></script>
<script src="javascripts/contact-info.js" type="text/javascript"></script>
<script src="javascripts/enableSubmit.js" type="text/javascript"></script>
<script src="javascripts/contactInfoReminder.js" type="text/javascript"></script>
<script src="javascripts/locations.js" type="text/javascript"></script>
<script src="javascripts/messageCenter.js" type="text/javascript"></script>
<script src="javascripts/alerts.js" type="text/javascript"></script>
<script src="javascripts/helpWithPage.js" type="text/javascript"></script>
<script src="javascripts/main.js" type="text/javascript"></script>


    </head>
    <body>
        <!-- Help wwith Page -->
        <div class="helpScreen">
            <!-- Help Header -->
            <div class="helpScreenHeader">
                <!-- Toc -->
                <div class="toc"></div>
                <!-- Index Count -->
                <ul>
                    <li>
                        <button type="button" data-role="none" id="slickPrev" class="slideIndexCounter" aria-label="previous">Previous</button>
                    </li>
                    <li>
                        <span class="slideCounter"><span class="slideIndex">0</span> of <span class="availableSliders">0</span> Pages</span>
                    </li>
                    <li>
                        <button type="button" data-role="none" id="slickNext" class="slideIndexCounter" aria-label="next">Next</button>
                    </li>
                </ul>
                <!-- Close Button -->
                <div class="helpScreenClose">X</div>
            </div>
            <!-- Help Screens -->
            <div class="helpScreenContent">
                <div class="helpSlide">
                    <img src="images/fpo-help-01.jpg">
                    <span class="helpTip">
                        <span class="helpTip_title">
                            Tip Group Title 1: <span>Tip Action Title</span>
                        </span>
                        officia quidem velit quis quia vel illo sed fugiat ut deleniti qui laudantium aut voluptas architecto aut vel qui enim.
                    </span>
                </div>
                <div class="helpSlide">
                    <img src="images/fpo-help-02-animated.gif">
                    <span class="helpTip">
                        <span class="helpTip_title">
                            Tip Group Title 2: <span>Tip Action Title</span>
                        </span>
                        minus quis in velit molestiae repellat voluptatem qui iusto vel eveniet perspiciatis repellendus nulla quia beatae nemo illum saepe atque porro consequatur eaque delectus expedita sit porro quis illo quasi asperiores vel consequatur cum accusamus consequatur accusantium aut atque a.
                    </span>
                </div>
                <div class="helpSlide">
                    <img src="images/fpo-help-01.jpg">
                    <span class="helpTip">
                        <span class="helpTip_title">
                            Tip Group Title 3: <span>Tip Action Title</span>
                        </span>
                        voluptatem maiores quisquam maiores rerum excepturi nemo est tempora ut voluptates rerum ipsam deserunt nobis rerum enim dolore et magni.
                    </span>
                </div>
            </div>

            <!-- Table of Contents List -->
            <div id="tocContent">
                <div class="tocTitle">All Tips</div>

                <ul>
                    <li>Tip Group Title: </li>
                    <li>
                        <a class="tocItem" data-slideitem="0" href="#">Tip (a)</a>
                    </li>
                    <li>
                        <a class="tocItem" data-slideitem="1" href="#">Tip (b)</a>
                    </li>
                    <li>
                        <a class="tocItem" data-slideitem="2" href="#">Tip (c)</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Help with Page -->

        <div class="helpOverlay"></div>
        <!-- Mobile Menu -->
<div class="pushy pushy-right">
    <div class="menuWrap">
        <div class="userInfo">
            <div class="welcome"> Welcome, <span>Jonathan BusinessName</span></div>
            <ul>
                <li>My Messages <span>(<a href="">2</a>)</span></li>
                <li> <a href=""><span>Logout</span></a> </li>
            </ul>
            <div class="session">Last logged on Jul 29, 2014 11:00AM</div>
        </div>
        <ul class="mobile">
            <li> <a href="#">Accounts and Activities</a>
                <ul>
                    <li class="title"> <a href="" class="noAccordion">Account Summary</a> </li>
                    <li class="accountType">Deposit Accounts</li>
                    <li> <a href="" class="noAccordion">Checking for Cash (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">Everyday Expenses and Bill (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">CDs Account (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">My Secret Savings (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">Another Secret Savings (...1234)</a> </li>
                    <li class="accountType">Loan Accounts</li>
                    <li> <a href="" class="noAccordion">Education Loan (...1234)</a> </li>
                    <li class="accountType">Mortgage Accounts</li>
                    <li> <a href="" class="noAccordion">Residential Loan (...1234)</a> </li>
                </ul>
            </li>
            <li> <a href="#">Actions and Services</a>
                <ul>
                    <!--<li> <a href="#" class="viewStatements-link noAccordion">View Online Statements</a> </li>-->
                    <li> <a href="#" class="billPay-link">Pay Bills</a> </li>
                    <li> <a href="#" class="alerts-link">Alerts</a> </li>
                    <li> <a href="#" class="transfers-link">Transfer</a> </li>
                    <li> <a href="#" class="accountServices-link">Services</a>
                        <ul>
                            <li><a href="">View Online Statement</a></li>
                            <li><a href="">Update My Overdraft Coverage Preferences</a></li>
                            <li><a href="">Order Checks</a></li>
                            <li><a href="">Request a Stop Payment</a></li>
                            <li><a href="">Direct Deposit Change Form</a></li>
                        </ul>
                    </li>
                    <li> <a href="#" class="contact-link">Contact Us</a>
                        <ul>
                            <li><a href="">Request a Check Copy</a></li>
                            <li><a href="">Request a Paper Statement Copy</a></li>
                            <li><a href="">Inquire about a Bill Pay Payment</a></li>
                            <li><a href="">Inquire about a Transaction</a></li>
                            <li><a href="">Contact Customer Service</a></li>
                        </ul>
                    </li>
                    <li> <a href="#" class="forms-link">Forms</a> </li>
                    <li> <a href="#" class="help-link">Help</a> </li>
                    <li> <a href="#" class="newAccounts-link">New Accounts</a> </li>
                </ul>
            </li>
            <li> <a href="#">Profile Settings</a>
                <ul>
                    <li> <a href="" class="noAccordion">Change Username/Password</a> </li>
                    <li> <a href="" class="noAccordion">Add Eligible Accounts for View</a> </li>
                    <li> <a href="" class="noAccordion">Change Contact Information</a> </li>
                    <li> <a href="" class="noAccordion">Change Security Questions &amp; Answers</a> </li>
                </ul>
            </li>
            <li> <a href="#" class="searchBtn">Transaction Search</a>
                <ul class="transSearch">
                    <li>
                        <input type="text">
                        <input type="submit" value="Search">
                    </li>
                </ul>
            </li>
            <li><a href="" class="customizeBtn">Customize Page</a></li>
            <li><a href="" class="helpBtn helpTrigger">Help with Page</a></li>
        </ul>
    </div>
</div>
<!-- /Mobile Menu -->

<div class="site-overlay"></div>

<header class="push">
    <div class="container">
        <div id="logo">
            <a href="index.html" class="noMobile">
                <img src="images/bok-logo-high.png" alt="Bank of Oklahoma">
            </a>
            <a href="index.html" class="mobile">
                <img src="images/bok-logo-mobile-high.png" alt="Bank of Oklahoma">
            </a>
        </div>
        <!-- Toolbar -->
        <div class="toolbar visibleDesktop">
            <div class="session">Last logged on Jul 29, 2014 11:00AM</div>
            <ul>
                <li class="user">
                    <div class="hover ellipsis">Welcome, <span>Jonathan BusinessName</span></div>
                    <div class="userDropdown">
                        <div>
                            <ul>
                                <li> <a href="">Change Username/Password</a> </li>
                                <li> <a href="">Add Eligible Accounts for View</a> </li>
                                <li> <a href="">Change Contact Information</a> </li>
                                <li> <a href="">Change Security Questions &amp; Answers</a> </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>My Messages <span>(<a href="">2</a>)</span></li>
                <li><a href=""><span>Logout</span></a></li>
            </ul>
        </div>
        <!-- /Toolbar -->
        <!-- Mobile Menu Link -->
        <div class="mobileMenu hiddenDesktop menu-btn">
            Menu
            <div class="notification">14</div>
        </div>
        <!-- /Mobile Menu Link -->
    </div>
</header>
        <!-- Menu -->
<nav class="push visibleDesktop">
    <div class="container">
        <ul class="megamenu">
            <li class="accountsMenu"> <a href="javascript:void(0)">Accounts and Activities</a>
                <div class="accountDropdown">
                    <h2>
                        <a href="">Account Summary</a>
                    </h2>
                    <div class="accountSummary">
                        <h3>Deposit Accounts</h3>
                        <table class="summary">
                            <tr>
                                <td><a href="">Checking for Cash (...1234)</a></td>
                                <td class="last"><strong>$10,400.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">Everyday Expenses and Bill (...1234)</a></td>
                                <td class="last"><strong>$10,400.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">CDs Account (...1234)</a></td>
                                <td class="last"><strong>$10,000.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">My Secret Savings (...1234)</a></td>
                                <td class="last"><strong>$10,000.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">Another Secret Savings (...1234)</a></td>
                                <td class="last"><strong>$10,000.00</strong></td>
                            </tr>
                        </table>
                        <div class="cleaner"></div>
                        <h3>Loan Accounts</h3>
                        <table class="summary">
                            <tr>
                                <td><a href="">Education Loan (...1234)</a></td>
                                <td class="last"><strong>$5,000.00</strong></td>
                            </tr>
                        </table>
                        <div class="cleaner"></div>
                        <h3>Mortgage Accounts</h3>
                        <table class="summary">
                            <tr>
                                <td><a href="">Residential Loan (...1234)</a></td>
                                <td class="last"><strong>$180,000.00</strong></td>
                            </tr>
                        </table>
                        <div class="cleaner"></div>
                    </div>
                </div>
            </li>
            <li class="actionsMenu"> <a href="javascript:void(0)">Actions and Tools</a>
                <div class="actionsDropdown">
                    <!--
                    <div class="colFull top">
                        <div class="viewStatements-link"> Statements </div>
                        <ul>
                            <li><a href="">View Online Statement</a></li>
                        </ul>
                    </div>
                    -->
                    <div class="colWrap">
                        <div class="col">
                            <dl>
                                <dt class="transfers-link"> Transfer </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Add New Transfer</a></li>
                                        <li><a href="">Pending Transfers</a></li>
                                        <li><a href="">Transfer History</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="billPay-link"> Bill Pay </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Schedule One-Time Payment</a></li>
                                        <li><a href="">Recurring Payment</a></li>
                                        <li><a href="">Manage Payees</a></li>
                                        <li><a href="">Pending Payments</a></li>
                                        <li><a href="">Payment History</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="alerts-link"> Alerts </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Manage Alerts</a></li>
                                        <li><a href="">Schedule Alerts</a></li>
                                        <li><a href="">Manage Contact Points</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="accountServices-link">Services</dt>
                                <dd>
                                    <ul>
                                        <li><a href="">View Online Statement</a></li>
                                        <li><a href="">Update My Overdraft Coverage Preferences</a></li>
                                        <li><a href="">Order Checks</a></li>
                                        <li><a href="">Request a Stop Payment</a></li>
                                        <li><a href="">Direct Deposit Change Form</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="contactUs-link">Contact Us</dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Request a Check Copy</a></li>
                                        <li><a href="">Request a Paper Statement Copy</a></li>
                                        <li><a href="">Inquire about a Bill Pay Payment</a></li>
                                        <li><a href="">Inquire about a Transaction</a></li>
                                        <li><a href="">Contact Customer Service</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="help-link"> Help </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Help center</a></li>
                                        <li><a href="">FAQ</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="colFull">
                        <div class="newAccount-link"> New Accounts </div>
                        <ul>
                            <li><a href="">Apply for an Account</a></li>
                            <li><a href="">Apply for a Loan</a></li>
                            <li><a href="">Apply for a Credit Card</a></li>
                            <li><a href="">Apply for a Mortgage</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="searchMenu"> <a href=""></a>
                <div class="searchDropdown">
                    <input type="text" placeholder="Transaction Search">
                    <input type="submit">
                </div>
            </li>
            <li class="helpMenu"> <a href="" class="helpTrigger">Help with Page</a> </li>
        </ul>
    </div>
</nav>
<!-- Menu -->

        <!-- Content Area -->
<div class="main push" role="main">
    <div class="container">
        <div class="back">
            <a href="" class="btn blue">Back</a>
        </div>
        <h1>Additional Account Details</h1>
        <!-- Jump To -->
        <div class="jumpTo">
            <ul>
                <li>Jump To:</li>
                <li><a href="#product-information" class="scroll">Product Information</a></li>
                <li><a href="#account-summary" class="scroll">Account Summary</a></li>
            </ul>
        </div>
        <!-- /Jump To -->

        <!-- Account List -->
        <ul class="accountList">
            <li><strong>Account Number</strong> 9121212121</li>
            <li><strong>Nickname Everyday</strong> Expenses and Bills</li>
        </ul>
        <!-- /Account List -->

        <!-- Panel -->
        <div class="panel" id="product-information">

            <div class="accountOverview">
                <div class="acctTitle">
                    <div class="sliderControls">
                        <h2>Product Information</h2>
                    </div>
                </div>
            </div>

            <div class="accountDetailsWrap">
                <div class="accountDetails">

                    <div class="accountInfoTable">
                        <table>
                            <tr>
                                <td>Lorem ipsum dolor</td>
                                <td><a href="" class="pdf">Download PDF</a></td>
                            </tr>
                            <tr>
                                <td>OD Opt in Preference</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>OD Protection</td>
                                <td>Advance</td>
                            </tr>
                            <tr>
                                <td>Account linked to OD Protection</td>
                                <td>Advance</td>
                            </tr>
                            <tr>
                                <td>Client Since</td>
                                <td>10/21/2009</td>
                            </tr>
                            <tr>
                                <td>Account Signer 1</td>
                                <td>Firstname Lastname, ownership description</td>
                            </tr>
                            <tr>
                                <td>Account Signer 2</td>
                                <td>Steve Lastname, ownership description</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Panel -->

        <!-- Panel -->
        <div class="panel" id="account-summary">

            <div class="accountOverview">
                <div class="acctTitle">
                    <div class="sliderControls">
                        <h2>Account Information</h2>
                    </div>
                </div>
            </div>

            <div class="accountDetailsWrap">
                <div class="accountDetails">
                    <div class="accountInfoTable">
                        <table>
                            <tr>
                                <td>Available Balance</td>
                                <td>$10,400.00</td>
                            </tr>
                            <tr>
                                <td>Last Deposit</td>
                                <td>$136.00</td>
                            </tr>
                            <tr>
                                <td>Last Deposit On</td>
                                <td>08/01/2014</td>
                            </tr>
                            <tr>
                                <td>Last Statement Date</td>
                                <td>08/01/2014</td>
                            </tr>
                            <tr>
                                <td>Next Statement Date</td>
                                <td>09/01/2014</td>
                            </tr>
                            <tr>
                                <td>Interest Accrued This Statement</td>
                                <td>$0.01</td>
                            </tr>
                            <tr>
                                <td>Interest Rate</td>
                                <td>0.01%</td>
                            </tr>
                            <tr>
                                <td>Interest Paid Year To Date</td>
                                <td>$0.09</td>
                            </tr>
                            <tr>
                                <td>Interest Paid Last Year</td>
                                <td>$1.50</td>
                            </tr>
                            <tr>
                                <td>Days of Transactions</td>
                                <td>90 days</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Panel -->



    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->

        <!-- Footer -->
<footer class="push">
    <div class="container">
        <ul>
            <li> <a href="">Locations</a> </li>
            <li> <a href="">Contact Center</a> </li>
            <li> <a href="">Terms</a> </li>
            <li> <a href="">Privacy</a> </li>
            <li> <a href="">Full Site</a> </li>
        </ul>
    </div>
</footer>
<!-- /Footer -->
    </body>
</html>