<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bank of Oklahoma</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="js/main.js"></script>

</head>
<body>
<div id="ajax" class="white-popup">
	<h2>Security Challenge</h2>
	<p>For security purposes, please validate your identity by answering the following question and click <strong>Submit</strong></p>

	<dl>
		<dt>
			<label>What is the first name of your best man/maid of honor at your wedding?</label>
		</dt>
		<dd>
			<input type="text"/>
		</dd>

		<dt></dt>
		<dd>
			<input type="submit" value="Submit"/>
			<input type="button" value="Cancel" class="closeBtn"/>
		</dd>
	</dl>

	<div class="colWrap">
		<div class="col one">
			Helpful Links
		</div>
		<div class="col two">
			<a href="">Contact Us</a>
		</div>
		<div class="col three">
			<a href="">Help With This Page</a>
		</div>
	</div>

	<div class="cleaner"></div>

</div>

</body>
</html>
