<html>
<body>
    <p>Drag the link below into your favorites bar to enable Finalytics Demo.</p>
    <a href='javascript:(function(){var e="https://finalytics.blackstone.studio/admin",s=document.createElement("script");s.id="finalytics_scripts",s.src=e+"/js/bundle.js",document.head.appendChild(s);var t=document.createElement("script");t.id="finalytics_scripts0",t.src=e+"/js/0.bundle.js",document.head.appendChild(t);var c=document.createElement("link");c.id="finalytics_styles",c.rel="stylesheet",c.href=e+"/css/0.bundle.css",document.head.appendChild(c)}())'>Finalytics Demo Bookmarklet</a>
</body>
</html>