<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank of Oklahoma</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/main.js"></script>

</head>
<body>
<div id="ajax" class="white-popup contactReminder">

    <p>It's been 6 months last time you updated your profile, please verify your information on the right with us:</p>

    <p>Intro copy TBD  instructional text indicating they are being asked to update their contact information and explain the reasons (ie: ensure notifications, statement notices, etc</p>

    <div class="contactInfo">
        <ul>
            <li>
                <span>Street Address:</span> 74113 Gunwave Court, Owasso, OK, 74055
            </li>
            <li>
                <span>Home Phone:</span> 918-555-1212
            </li>
            <li>
                <span>Work Phone:</span> 918-338-1968
            </li>
            <li>
                <span>Email:</span> Johnathan_brownstein@gmail.com
            </li>

            <li class="btnOptions">
                <a href="" class="btn blue">It's Correct</a>
                <a href="" class="btn blue">Need to Update</a>
                <a href="">Remind Me Later</a>
            </li>
        </ul>
    </div>

    <div class="cleaner"></div>

</div>

</body>
</html>
