<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Bank of Oklahoma</title>
        <meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<!-- Stylesheets -->
<link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />

<!-- Modernizr -->
<script src="javascripts/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>

<!-- JavaScript -->
<script src="javascripts/vendor/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery-ui.min.js" type="text/javascript"></script>

<!-- Plugins -->
<script src="javascripts/vendor/respond.js" type="text/javascript"></script>
<script src="javascripts/vendor/pushy.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.megamenu.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.visible.min.js" type="text/javascript"></script>
<script src="javascripts/vendor/jquery.mask.js" type="text/javascript"></script> <!-- Phone and ZIP Masking -->
<script src="javascripts/vendor/jquery.alphanumeric.js" type="text/javascript"></script>
<script src="javascripts/vendor/tipso.js" type="text/javascript"></script>
<script src="javascripts/vendor/slick.js" type="text/javascript"></script>

<!-- Custom -->
<script src="javascripts/jquery.accordion.js" type="text/javascript"></script>
<script src="javascripts/equalheight.js" type="text/javascript"></script>
<script src="javascripts/password.js" type="text/javascript"></script>
<script src="javascripts/username.js" type="text/javascript"></script>
<script src="javascripts/plugins.js" type="text/javascript"></script>
<script src="javascripts/payee.js" type="text/javascript"></script>
<script src="javascripts/payee.filter.js" type="text/javascript"></script>
<script src="javascripts/datepicker.js" type="text/javascript"></script>
<script src="javascripts/transactionHistory.js" type="text/javascript"></script>
<script src="javascripts/field-validation.js" type="text/javascript"></script>
<script src="javascripts/transfers.js" type="text/javascript"></script>
<script src="javascripts/contact-info.js" type="text/javascript"></script>
<script src="javascripts/enableSubmit.js" type="text/javascript"></script>
<script src="javascripts/contactInfoReminder.js" type="text/javascript"></script>
<script src="javascripts/locations.js" type="text/javascript"></script>
<script src="javascripts/messageCenter.js" type="text/javascript"></script>
<script src="javascripts/alerts.js" type="text/javascript"></script>
<script src="javascripts/helpWithPage.js" type="text/javascript"></script>
<script src="javascripts/main.js" type="text/javascript"></script>


    </head>
    <body>
        <!-- Help wwith Page -->
        <div class="helpScreen">
            <!-- Help Header -->
            <div class="helpScreenHeader">
                <!-- Toc -->
                <div class="toc"></div>
                <!-- Index Count -->
                <ul>
                    <li>
                        <button type="button" data-role="none" id="slickPrev" class="slideIndexCounter" aria-label="previous">Previous</button>
                    </li>
                    <li>
                        <span class="slideCounter"><span class="slideIndex">0</span> of <span class="availableSliders">0</span> Pages</span>
                    </li>
                    <li>
                        <button type="button" data-role="none" id="slickNext" class="slideIndexCounter" aria-label="next">Next</button>
                    </li>
                </ul>
                <!-- Close Button -->
                <div class="helpScreenClose">X</div>
            </div>
            <!-- Help Screens -->
            <div class="helpScreenContent">
                <div class="helpSlide">
                    <img src="images/fpo-help-01.jpg">
                    <span class="helpTip">
                        <span class="helpTip_title">
                            Tip Group Title 1: <span>Tip Action Title</span>
                        </span>
                        vel doloribus impedit blanditiis voluptas quam dolorem tempore temporibus necessitatibus perferendis error et voluptas et aut praesentium dicta nesciunt fugiat.
                    </span>
                </div>
                <div class="helpSlide">
                    <img src="images/fpo-help-02-animated.gif">
                    <span class="helpTip">
                        <span class="helpTip_title">
                            Tip Group Title 2: <span>Tip Action Title</span>
                        </span>
                        libero ut est eum blanditiis adipisci officiis commodi eos voluptates nobis quaerat non dolore nihil facilis maxime porro voluptatem sunt autem repellat quas dolor sed eos tempore laboriosam est architecto veniam numquam distinctio dicta veniam voluptatum facere perspiciatis perferendis quam.
                    </span>
                </div>
                <div class="helpSlide">
                    <img src="images/fpo-help-01.jpg">
                    <span class="helpTip">
                        <span class="helpTip_title">
                            Tip Group Title 3: <span>Tip Action Title</span>
                        </span>
                        accusantium totam eum autem ipsam sunt nostrum iure excepturi enim cupiditate qui quos totam eos eum necessitatibus qui quas sit.
                    </span>
                </div>
            </div>

            <!-- Table of Contents List -->
            <div id="tocContent">
                <div class="tocTitle">All Tips</div>

                <ul>
                    <li>Tip Group Title: </li>
                    <li>
                        <a class="tocItem" data-slideitem="0" href="#">Tip (a)</a>
                    </li>
                    <li>
                        <a class="tocItem" data-slideitem="1" href="#">Tip (b)</a>
                    </li>
                    <li>
                        <a class="tocItem" data-slideitem="2" href="#">Tip (c)</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Help with Page -->

        <div class="helpOverlay"></div>
        <!-- Mobile Menu -->
<div class="pushy pushy-right">
    <div class="menuWrap">
        <div class="userInfo">
            <div class="welcome"> Welcome, <span>Jonathan BusinessName</span></div>
            <ul>
                <li>My Messages <span>(<a href="">2</a>)</span></li>
                <li> <a href=""><span>Logout</span></a> </li>
            </ul>
            <div class="session">Last logged on Jul 29, 2014 11:00AM</div>
        </div>
        <ul class="mobile">
            <li> <a href="#">Accounts and Activities</a>
                <ul>
                    <li class="title"> <a href="" class="noAccordion">Account Summary</a> </li>
                    <li class="accountType">Deposit Accounts</li>
                    <li> <a href="" class="noAccordion">Checking for Cash (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">Everyday Expenses and Bill (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">CDs Account (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">My Secret Savings (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">Another Secret Savings (...1234)</a> </li>
                    <li class="accountType">Loan Accounts</li>
                    <li> <a href="" class="noAccordion">Education Loan (...1234)</a> </li>
                    <li class="accountType">Mortgage Accounts</li>
                    <li> <a href="" class="noAccordion">Residential Loan (...1234)</a> </li>
                </ul>
            </li>
            <li> <a href="#">Actions and Services</a>
                <ul>
                    <!--<li> <a href="#" class="viewStatements-link noAccordion">View Online Statements</a> </li>-->
                    <li> <a href="#" class="billPay-link">Pay Bills</a> </li>
                    <li> <a href="#" class="alerts-link">Alerts</a> </li>
                    <li> <a href="#" class="transfers-link">Transfer</a> </li>
                    <li> <a href="#" class="accountServices-link">Services</a>
                        <ul>
                            <li><a href="">View Online Statement</a></li>
                            <li><a href="">Update My Overdraft Coverage Preferences</a></li>
                            <li><a href="">Order Checks</a></li>
                            <li><a href="">Request a Stop Payment</a></li>
                            <li><a href="">Direct Deposit Change Form</a></li>
                        </ul>
                    </li>
                    <li> <a href="#" class="contact-link">Contact Us</a>
                        <ul>
                            <li><a href="">Request a Check Copy</a></li>
                            <li><a href="">Request a Paper Statement Copy</a></li>
                            <li><a href="">Inquire about a Bill Pay Payment</a></li>
                            <li><a href="">Inquire about a Transaction</a></li>
                            <li><a href="">Contact Customer Service</a></li>
                        </ul>
                    </li>
                    <li> <a href="#" class="forms-link">Forms</a> </li>
                    <li> <a href="#" class="help-link">Help</a> </li>
                    <li> <a href="#" class="newAccounts-link">New Accounts</a> </li>
                </ul>
            </li>
            <li> <a href="#">Profile Settings</a>
                <ul>
                    <li> <a href="" class="noAccordion">Change Username/Password</a> </li>
                    <li> <a href="" class="noAccordion">Add Eligible Accounts for View</a> </li>
                    <li> <a href="" class="noAccordion">Change Contact Information</a> </li>
                    <li> <a href="" class="noAccordion">Change Security Questions &amp; Answers</a> </li>
                </ul>
            </li>
            <li> <a href="#" class="searchBtn">Transaction Search</a>
                <ul class="transSearch">
                    <li>
                        <input type="text">
                        <input type="submit" value="Search">
                    </li>
                </ul>
            </li>
            <li><a href="" class="customizeBtn">Customize Page</a></li>
            <li><a href="" class="helpBtn helpTrigger">Help with Page</a></li>
        </ul>
    </div>
</div>
<!-- /Mobile Menu -->

<div class="site-overlay"></div>

<header class="push">
    <div class="container">
        <div id="logo">
            <a href="index.html" class="noMobile">
                <img src="images/bok-logo-high.png" alt="Bank of Oklahoma">
            </a>
            <a href="index.html" class="mobile">
                <img src="images/bok-logo-mobile-high.png" alt="Bank of Oklahoma">
            </a>
        </div>
        <!-- Toolbar -->
        <div class="toolbar visibleDesktop">
            <div class="session">Last logged on Jul 29, 2014 11:00AM</div>
            <ul>
                <li class="user">
                    <div class="hover ellipsis">Welcome, <span>Jonathan BusinessName</span></div>
                    <div class="userDropdown">
                        <div>
                            <ul>
                                <li> <a href="">Change Username/Password</a> </li>
                                <li> <a href="">Add Eligible Accounts for View</a> </li>
                                <li> <a href="">Change Contact Information</a> </li>
                                <li> <a href="">Change Security Questions &amp; Answers</a> </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>My Messages <span>(<a href="">2</a>)</span></li>
                <li><a href=""><span>Logout</span></a></li>
            </ul>
        </div>
        <!-- /Toolbar -->
        <!-- Mobile Menu Link -->
        <div class="mobileMenu hiddenDesktop menu-btn">
            Menu
            <div class="notification">14</div>
        </div>
        <!-- /Mobile Menu Link -->
    </div>
</header>
        <!-- Menu -->
<nav class="push visibleDesktop">
    <div class="container">
        <ul class="megamenu">
            <li class="accountsMenu"> <a href="javascript:void(0)">Accounts and Activities</a>
                <div class="accountDropdown">
                    <h2>
                        <a href="">Account Summary</a>
                    </h2>
                    <div class="accountSummary">
                        <h3>Deposit Accounts</h3>
                        <table class="summary">
                            <tr>
                                <td><a href="">Checking for Cash (...1234)</a></td>
                                <td class="last"><strong>$10,400.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">Everyday Expenses and Bill (...1234)</a></td>
                                <td class="last"><strong>$10,400.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">CDs Account (...1234)</a></td>
                                <td class="last"><strong>$10,000.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">My Secret Savings (...1234)</a></td>
                                <td class="last"><strong>$10,000.00</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">Another Secret Savings (...1234)</a></td>
                                <td class="last"><strong>$10,000.00</strong></td>
                            </tr>
                        </table>
                        <div class="cleaner"></div>
                        <h3>Loan Accounts</h3>
                        <table class="summary">
                            <tr>
                                <td><a href="">Education Loan (...1234)</a></td>
                                <td class="last"><strong>$5,000.00</strong></td>
                            </tr>
                        </table>
                        <div class="cleaner"></div>
                        <h3>Mortgage Accounts</h3>
                        <table class="summary">
                            <tr>
                                <td><a href="">Residential Loan (...1234)</a></td>
                                <td class="last"><strong>$180,000.00</strong></td>
                            </tr>
                        </table>
                        <div class="cleaner"></div>
                    </div>
                </div>
            </li>
            <li class="actionsMenu"> <a href="javascript:void(0)">Actions and Tools</a>
                <div class="actionsDropdown">
                    <!--
                    <div class="colFull top">
                        <div class="viewStatements-link"> Statements </div>
                        <ul>
                            <li><a href="">View Online Statement</a></li>
                        </ul>
                    </div>
                    -->
                    <div class="colWrap">
                        <div class="col">
                            <dl>
                                <dt class="transfers-link"> Transfer </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Add New Transfer</a></li>
                                        <li><a href="">Pending Transfers</a></li>
                                        <li><a href="">Transfer History</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="billPay-link"> Bill Pay </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Schedule One-Time Payment</a></li>
                                        <li><a href="">Recurring Payment</a></li>
                                        <li><a href="">Manage Payees</a></li>
                                        <li><a href="">Pending Payments</a></li>
                                        <li><a href="">Payment History</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="alerts-link"> Alerts </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Manage Alerts</a></li>
                                        <li><a href="">Schedule Alerts</a></li>
                                        <li><a href="">Manage Contact Points</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="accountServices-link">Services</dt>
                                <dd>
                                    <ul>
                                        <li><a href="">View Online Statement</a></li>
                                        <li><a href="">Update My Overdraft Coverage Preferences</a></li>
                                        <li><a href="">Order Checks</a></li>
                                        <li><a href="">Request a Stop Payment</a></li>
                                        <li><a href="">Direct Deposit Change Form</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="contactUs-link">Contact Us</dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Request a Check Copy</a></li>
                                        <li><a href="">Request a Paper Statement Copy</a></li>
                                        <li><a href="">Inquire about a Bill Pay Payment</a></li>
                                        <li><a href="">Inquire about a Transaction</a></li>
                                        <li><a href="">Contact Customer Service</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="help-link"> Help </dt>
                                <dd>
                                    <ul>
                                        <li><a href="">Help center</a></li>
                                        <li><a href="">FAQ</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="colFull">
                        <div class="newAccount-link"> New Accounts </div>
                        <ul>
                            <li><a href="">Apply for an Account</a></li>
                            <li><a href="">Apply for a Loan</a></li>
                            <li><a href="">Apply for a Credit Card</a></li>
                            <li><a href="">Apply for a Mortgage</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="searchMenu"> <a href=""></a>
                <div class="searchDropdown">
                    <input type="text" placeholder="Transaction Search">
                    <input type="submit">
                </div>
            </li>
            <li class="helpMenu"> <a href="" class="helpTrigger">Help with Page</a> </li>
        </ul>
    </div>
</nav>
<!-- Menu -->

        <!-- Content Area -->
<div class="main push" role="main">
    <div class="container">

        <h1>Update Contact Information</h1>
        <p>Copy TBD The instructional verbiage informs user to enter only the information that requires modification and click the NEXT button.  If the user wants to cancel the update, they are instructed to click the CANCEL button. Changes on address will not affected right away, change on email will be updated immediately.</p>
        
        <p>All fields are required, except specified.</p>

        <div class="boxModule">

            <dl class="updateContactInfo">
                <h2>
                    Primary Address:
                    <span class="tipContent" data-tipso="Copy TBD this is the primary address, PO boxes are not allowed, and documents such as X Y Z will be mailed there. <span class='tipClose'>x</a>">
                        <div class="show-hide-tipso">x</div>
                    </span>
                </h2>
                <dt>
                    <label>Address Line 1: <span>P.O. Boxes are not allowed</span></label>
                </dt>
                <dd>
                    <input type="text" name="address1" class="validateChars notEmpty" />
                    <div class="invalidChars">
                        <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                    </div>
                </dd>
                <dt>
                    <label>Address Line 2:</label>
                </dt>
                <dd>
                    <input type="text" name="address2" class="validateChars" placeholder="Optional"/>
                    <div class="invalidChars">
                        <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                    </div>
                </dd>
                <dt>
                    <label>Apt. Unit:</label>
                </dt>
                <dd>
                    <input type="text" name="suite" class="validateChars" placeholder="Optional"/>
                    <div class="invalidChars">
                        <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                    </div>
                </dd>
                <dt>
                    <label>City:</label>
                </dt>
                <dd>
                    <input type="text" name="city" class="validateChars notEmpty" />
                    <div class="invalidChars">
                        <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                    </div>
                </dd>
                <dt>
                    <label>State:</label>
                </dt>
                <dd>
                    <div class="selectWrap">
                        <select class="select-style notEmpty">
                            <option value="">Select</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </dd>
                <dt>
                    <label>ZIP Code:</label>
                </dt>
                <dd>
                    <input type="text" name="zipcode" class="validateChars notEmpty" />
                    <div class="invalidChars">
                        <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                    </div>
                </dd>
                
                <div class="clear15"></div>
                
                <dl></dl>
                <dd>
                    <input type="checkbox">
                    <label class="checkbox" id="mailingAddressCheck">My mailing address is different than my primary address.</label>
                </dd>
                
                <div class="clear15"></div>

                <div class="mailingAddressdiv">
                    <h2>
                        Mailing Address:
                    <span class="tipContent" data-tipso="Copy TBD this is the mailing address, PO boxes are not allowed, and documents such as X Y Z will be mailed there. <span class='tipClose'>x</a>">
                        <div class="show-hide-tipso">x</div>
                    </span>
                    </h2>
                    <dt>
                        <label>Address Line 1:</label>
                    </dt>
                    <dd>
                        <input type="text" name="mailingAddress1" class="validateChars"/>
                        <div class="invalidChars">
                            <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                        </div>
                    </dd>
                    <dt>
                        <label>Address Line 2:</label>
                    </dt>
                    <dd>
                        <input type="text" name="mailingAddress2" class="validateChars" placeholder="Optional"/>
                        <div class="invalidChars">
                            <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                        </div>
                    </dd>
                    <dt>
                        <label>Apt. Unit:</label>
                    </dt>
                    <dd>
                        <input type="text" name="mailingSuite" class="validateChars" placeholder="Optional"/>
                        <div class="invalidChars">
                            <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                        </div>
                    </dd>
                    <dt>
                        <label>City:</label>
                    </dt>
                    <dd>
                        <input type="text" name="mailingCity" class="validateChars" />
                        <div class="invalidChars">
                            <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                        </div>
                    </dd>
                    <dt>
                        <label>State:</label>
                    </dt>
                    <dd>
                        <div class="selectWrap">
                            <select class="select-style">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </dd>
                    <dt>
                        <label>ZIP Code:</label>
                    </dt>
                    <dd>
                        <input type="text" name="mailingZipcode" class="validateChars" />
                        <div class="invalidChars">
                            <span>( ) * & ^ % # @ $ + = _ \ /</span> are not allowed
                        </div>
                    </dd>
                    <div class="clear15"></div>
                </div>

                
                <dt>
                    <label>Primary Phone Number:</label>
                    <p>Copy TBD The phone number you designate as “primary” will be the first number we will use in an  attempt to contact you.</p>
                </dt>
                <dd>
                    <div class="selectWrap phoneOption">
                        <select class="select-style notEmpty">
                            <option value="">Select One</option>
                            <option value="mobile">Mobile</option>
                            <option value="work">Work</option>
                            <option value="home">Home</option>
                        </select>
                    </div>
                    <input type="text" name="primary_phone" class="validateChars notEmpty" />
                </dd>
                
                <dt>
                    <label>Secondary Phone Number:</label>
                </dt>
                <dd>
                    <div class="selectWrap phoneOption">
                        <select class="select-style">
                            <option>Select One</option>
                            <option>Mobile</option>
                            <option>Work</option>
                            <option>Home</option>
                        </select>
                    </div>
                    <input type="text" name="secondary_phone" class="validateChars" />
                </dd>
                
                <dt>
                    <label>Other Phone Number:</label>
                </dt>
                <dd>
                    <div class="selectWrap phoneOption">
                        <select class="select-style">
                            <option>Select One</option>
                            <option>Mobile</option>
                            <option>Work</option>
                            <option>Home</option>
                        </select>
                    </div>
                    <input type="text" name="other_phone" class="validateChars" />
                </dd>
                
                <dt>
                    <label>Primary Email Address:</label>
                    <p>This is the email address you will receive the majority of email communications.</p>
                </dt>
                <dd>
                    <input type="text" name="emailAddress" class="validateEmail" />
                    <div class="error">Please enter a valid email address.</div>
                </dd>
                
                <div class="clear20"></div>
                
                <dt>
                    <label>Please select the account(s) that are applicable to this change of address:</label><br>
                    <a href="#" class="selectAllAccounts selectAll">Select All</a>
                </dt>
                <dd class="checkboxes">
                    <input type="checkbox" id="savingsAccount">
                    <label class="checkbox">Savings for Cash (...2345)</label>
                    
                    <div class="clear10"></div>
                    
                    <input type="checkbox" id="expensesAccount">
                    <label class="checkbox">Everyday Expenses and Bill (...5678)</label>
                    
                    <div class="clear10"></div>
                    
                    <input type="checkbox" id="checkingAccount">
                    <label class="checkbox">Checking (...5678)</label>
                    
                    <div class="clear10"></div>
                    
                    <input type="checkbox" id="ultimateAccount">
                    <label class="checkbox">Ultimate Wish List Account (...5678)</label>
                    
                    <div class="clear10"></div>
                    
                    <input type="checkbox" id="housingAccount">
                    <label class="checkbox">Housing (...5678)</label>
                </dd>
                
                <div class="clear20"></div>
                
                <dt>
                    <label>Does this address change apply to all account holders?</label>
                </dt>
                <dd>
                    <input type="radio" checked="checked" id="yes" class="applyToAll" name="applyToAllAccounts">
                    <label for="yes">Yes</label>            
                    <div class="cleaner"></div>
                    <input type="radio" id="no" class="doNotApplyToAll" name="applyToAllAccounts">
                    <label for="no">No</label>
                    
                    <div class="addressChanges">
                        <textarea></textarea>
                    </div>
                </dd>
                
                <dt>
                    <label>Please leave your comments below if there're any:</label>
                </dt>
                <dd>
                    <textarea class="optionalComments" placeholder="Optional"></textarea>
                    <span class="numOfCharsAllowed">Using <strong><span id="charCounter">0</span></strong> of <strong>3000</strong> possible characters.</span>
                </dd>

                <dt></dt>
                <dd>
                    <input type="submit" id="submit" value="Update" />
                    <input type="button" value="Cancel"/>
                </dd>
            </dl>
        </div>


    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->





        <!-- Footer -->
<footer class="push">
    <div class="container">
        <ul>
            <li> <a href="">Locations</a> </li>
            <li> <a href="">Contact Center</a> </li>
            <li> <a href="">Terms</a> </li>
            <li> <a href="">Privacy</a> </li>
            <li> <a href="">Full Site</a> </li>
        </ul>
    </div>
</footer>
<!-- /Footer -->
    </body>
</html>