{% load static %}
<div class="btnwrap" style="position: fixed;z-index: 100;top: 0;left: 0;right: 0;background: #000; height:40px;padding:7px;">
    <img src="{% static "app/images/demo/demo_logo.png" %}" width="100px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/calcoast-young" style="color:#C1FFFB;">Prospect 1</a> | 
    <a href="/calcoast-old" style="color:#C1FFFB;">Prospect 2</a> | 
    <a href="/calcoast-old-member" style="color:#C1FFFB;">Member 1</a> | 
    <a href="/calcoast-rates" style="color:#C1FFFB;">Rates-driven</a> | 
    <a href="/calcoast-geo" style="color:#C1FFFB;">Geo Target</a> | 
    <a href="/olb-bill-pay-enroll" style="color:#C1FFFB;">Digital Banking 1</a> | 
    <a href="/olb-pre-approved" style="color:#C1FFFB;">Digital Banking 2</a> | 
    <a href="/olb-bill-pay-add-a-payee" style="color:#C1FFFB;">Funnel Re-entry</a> | 
    <a href="/olb-bill-pay-add-a-payee" style="color:#C1FFFB;">Mobile App</a> | 
    <a href="/olb-bill-pay-add-a-payee" style="color:#C1FFFB;">Salesforce</a>
</div>