{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo Chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://code.highcharts.com/css/themes/highcharts.css">
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" href="{% static 'app/content/local.css' %}">

</head>

<body>
    {% for i in looping_list %}
    <div id="Container{{ i }}" style="min-width: 310px; margin: 0" class="border"></div><br/>
    {% endfor %}
    <script>      
      
        let dynamic_data = {{ data| safe }}
        for (i = 0; i < dynamic_data.length ; i++) {
            let container_name = `Container${i}`
            console.log(container_name)
        
            Highcharts.chart(container_name,dynamic_data[i])
          }
        

      
      
    </script>
</body>
</html>
