{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WP demo chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/funnel.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
      <script src="https://code.highcharts.com/modules/dumbbell.js"></script>
      <script src="https://code.highcharts.com/modules/sankey.js"></script>

        <link
        rel="stylesheet"
        href="https://code.highcharts.com/css/themes/highcharts.css"
    />
    <link rel="stylesheet" href="{% static 'app/content/local.css' %}" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
        integrity="sha512-YHuwZabI2zi0k7c9vtg8dK/63QB0hLvD4thw44dFo/TfBFVVQOqEG9WpviaEpbyvgOIYLXF1n7xDUfU3GDs0sw=="
        crossorigin="anonymous"
    />
  </head>

  <body style="background-color: #f1f1f1">
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script>
      const QUARTERLY = 'quarterly'
      const DAILY = 'daily'
      const chartInstances = {}
      const MAXIMUM_LABELS = 5;
      const queryset = new URLSearchParams(window.location.search)
      function parseLayout(layout) {
        try {
          if (layout) {
            const values = layout.split('x').map(Number)
            return {
              values,
              total: values.reduce((t, v) => v + t, 0),
            }
          }
        } catch (error) {}
      }

      function arrayToDict(values) {
        const result = {}
        values.forEach(({ name, value }) => {
          result[name] = value
        })
        return result
      }

      function getClass(index, layout) {
        if (layout) {
          const currentIndex = index % layout.total
          let total = 0
          let layoutC = null
          for (let i = 0; i < layout.values.length; i++) {
            const layoutVal = layout.values[i]
            total += layoutVal
            if (currentIndex < total) {
              layoutC = layoutVal
              break
            }
          }
          return `col-xs-${12 / layoutC}`
        }
        return 'col-xs-12'
      }

      function cleanCharData(chartData) {
        const data = chartData || {}
        data.scrollbar = { enabled: false }
        data.credits = { enabled: false }
        // try {
        //   const length = data.series[0].data.length
        //   console.log({length})
        //   if(length>MAXIMUM_LABELS){
        //     const step =  Math.floor(length/MAXIMUM_LABELS);
        //     const labels = data.xAxis.labels || {}
        //     labels['step'] = step
        //     data.xAxis.labels = labels
        //     console.log({length,step})
        //   }
        // } catch (error) {
        //   console.log('no length')
        // }
        return data
      }

      function reFetchChart(reportId, chartId, urlParams) {
        $.get(`/api/v1/charts/${chartId}/?${urlParams.toString()}`, (data) => {
          const chartHigh = chartInstances[`${reportId}-${chartId}`]
          if (chartHigh) {
            chartHigh.update(cleanCharData(data.chart_data))
          }
        }).fail(processError)
      }

      function refreshForm(formId, reportId, chartId) {
        const data = arrayToDict($(`#${formId}`).serializeArray())
        const values = [parseInt(data.startYear), parseInt(data.endYear)]
        const urlParams = new URLSearchParams(window.location.search)
        urlParams.set('start_year', Math.min(...values))
        urlParams.set('end_year', Math.max(...values))
        reFetchChart(reportId, chartId, urlParams)
      }

      function refreshDailyForm(formId, reportId, chartId) {
        const data = arrayToDict($(`#${formId}`).serializeArray())
        const urlParams = new URLSearchParams(window.location.search)
        urlParams.set('daily_span', data.dailySpan)
        reFetchChart(reportId, chartId, urlParams)
      }

      function createOptionForForm(name, currentValue) {
        const lastYear = new Date().getFullYear()
        const minYear = 2021
        const options = Array(lastYear - minYear + 1)
          .fill()
          .map((_, idx) => minYear + idx)
        return `
          <select name="${name}">
            ${options.map((year) => {
              return `<option value=${year} ${
                year == currentValue ? 'selected' : ''
              }>${year} </option>`
            })}
          </select>
          `
      }

      function createForm(formId) {
        const lastYear = new Date().getFullYear()
        const startYear = parseInt(queryset.get('start_year') || lastYear - 1)
        const endYear = parseInt(queryset.get('end_year') || lastYear)
        return `
              <form id="${formId}" class="row start-sm">
                <div >
                    <label for="year">Start year:</label>
                    ${createOptionForForm('startYear', startYear)}
                </div>
                <div>
                  <label for="year">End year:</label>
                  ${createOptionForForm('endYear', endYear)}
                </div>
                <input type="submit" value="Go">
              </form> `
      }

      function dailyForm(formId) {
        return `
              <form id="${formId}" class="row start-sm">
                <div >
                    <label for="days">Number of days</label>
                   <input type="text" name="dailySpan" required value="monthly" />
                </div>
                <input type="submit" value="Go">
              </form> `
      }

      function appendDateController(div, reportId, chart) {
        const data = chart.chart_data
        let timeframe = (data && data.timeframe) || QUARTERLY
        const divIn = document.createElement('div')
        let divJ = $(divIn)
        const formId = `form-${reportId}-${chart.id}`
        if (timeframe === QUARTERLY) {
          divJ.append(createForm(formId))
          div.appendChild(divIn)
          $(`#${formId}`).submit(function (event) {
            event.preventDefault()
            refreshForm(formId, reportId, chart.id)
          })
        } else if (timeframe === DAILY) {
          divJ.append(dailyForm(formId))
          div.appendChild(divIn)
          $(`#${formId}`).submit(function (event) {
            event.preventDefault()
            refreshDailyForm(formId, reportId, chart.id)
          })
        }
      }

      function processReport(report) {
        const containerId = `report-${report.id}`
        const containerElement = document.createElement('div')
        const layout = parseLayout(report.layout)
        containerElement.setAttribute('id', containerId)
        document.body.appendChild(containerElement)
        let container = $(`#${containerId}`)
        container.append(`<h2>${report.name}<h2>`)
        container.append(`<div class="row" id="row-${report.id}"><div>`)
        container = $(`#row-${report.id}`)
        const charts = report['chart'] || []
        charts.forEach((chart, index) => {
          const div = document.createElement('div')
          const id = `chart-${chart.id}`
          div.setAttribute('id', id)
          div.setAttribute('class', getClass(index, layout))
          container.append(div)
          const title = document.createElement('h3')
          title.appendChild(document.createTextNode(chart.name))
          div.appendChild(title)

          try {
            const data = cleanCharData(chart.chart_data)
            const divH = document.createElement('div')
            const idH = `high-chart-${chart.id}-${report.id}`
            divH.setAttribute('id', idH)
            div.appendChild(divH)
            appendDateController(div, report.id, chart)
            let timeframe = (data && data.timeframe) || QUARTERLY
            if (timeframe == DAILY) {
              chartInstances[
                `${report.id}-${chart.id}`
              ] = Highcharts.stockChart(idH, data)
            } else {
              chartInstances[`${report.id}-${chart.id}`] = Highcharts.chart(
                idH,
                data
              )
            }
          } catch (exc) {
            $(`#${id}`).append(chart.embed_code)
            console.log(exc)
          }
        })
      }
      function processError(error) {
        alert(error.message)
      }

      function processAllReports(reports) {
        reports.results.forEach(processReport)
      }

      function insertPageLevelForm() {
        const divIn = document.createElement('div')
        let divJ = $(divIn)
        const formId = 'page-form'
        divJ.append(`<h1>Page level set year range</h1>`)
        divJ.append(createForm(formId))
        document.body.appendChild(divIn)
        $(`#${formId}`).submit(function (event) {
          event.preventDefault()
          const data = arrayToDict($(`#${formId}`).serializeArray())
          const url = new URL(window.location.href)
          url.searchParams.set('start_year', data.startYear)
          url.searchParams.set('end_year', data.endYear)
          window.location.href = url.href
        })
      }

      $(function () {
        Highcharts.setOptions({
          lang: {
            thousandsSep: ',',
          },
        })
        insertPageLevelForm()
        const urlParams = new URLSearchParams(window.location.search)
        const report = urlParams.get('report')
        if (report) {
          $.get(
            `/api/v1/reports/${report}/?${urlParams.toString()}`,
            processReport
          ).fail(processError)
        } else {
          $.get(
            `/api/v1/reports/?${urlParams.toString()}`,
            processAllReports
          ).fail(processError)
        }
      })
    </script>
  </body>
</html>
