{% extends "admin/base_atlantis.html" %}
{% load static %}
{% block endheadscripts %}
<style>
    .alert-danger {
        color: #721c24 !important;
        background-color: #f8d7da !important;
        border-color: #f5c6cb !important;
    }
</style>
{% endblock endheadscripts %}
{% block panel-header %}
<div class="page-navs bg-black py-3 pr-2">
    <div class="card-title fw-bold">
        Create Branch Scenario
    </div>
</div>
{% endblock %}
{% block panel-inner %}
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Content Module Details</h4>
                    </div>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if message %}
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" class="form-control">
                                    <label for="description">Description</label>
                                    <input type="text" name="description" id="description" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="is_active">
                                        <span class="form-check-sign">Publish Now</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="is_biz">
                                        <span class="form-check-sign">Is this a business product/service</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pages">Which page(s) can this content display on (leave blank or enter '/' if on the home page)?</label>
                                    <textarea type="text" name="pages" id="pages" class="form-control" value="{{ form.pages }}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="ad_method">Will the content replace existing content or append to it?</label>
                                    <select class="form-control" id="ad_method" name="ad_method">
                                        <option>Select One</option>
                                        {% for i in ad_method %}
                                        {% if i.0 == form.ad_method %}
                                        <option value="{{ i.0 }}" selected>{{ i.1 }}</option>
                                        {% else %}
                                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="delivery_type">How will the content be appended or replaced?</label>
                                    <select class="form-control" id="delivery_type" name="delivery_type">
                                        <option>Select One</option>
                                        {% for i in delivery_types %}
                                        {% if i.0 == form.delivery_type %}
                                        <option value="{{ i.0 }}" selected>{{ i.1 }}</option>
                                        {% else %}
                                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="div_id">Div ID</label>
                                    <input type="text" name="div_id" id="div_id" class="form-control" value="{{ form.div_id }}">

                                    <label for="div_class">Div Class</label>
                                    <input type="text" name="div_class" id="div_class" class="form-control" value="{{ form.div_class }}">

                                    <label for="div_tracking_label">User-friendly name for div for tracking/reporting (example 'hero' or 'card' or 'carousel')</label>
                                    <input type="text" name="div_tracking_label" id="div_tracking_label" class="form-control" value="{{ form.div_tracking_label }}">

                                    <label for="ordinal">Ordinal (if there are several of the same modules in class-based delivery, which one?)</label>
                                    <input type="text" name="ordinal" id="ordinal" class="form-control" value="{{ form.ordinal }}">

                                    <label for="start_dt">Start Date (feel free to leave this blank)</label>
                                    <input type="date" name="start_dt" id="start_dt" class="form-control">

                                    <label for="end_dt">End Date (feel free to leave this blank)</label>
                                    <input type="date" name="end_dt" id="end_dt" class="form-control">

                                </div>
                            </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success btn-round" type="submit">Continue</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block endscripts %}
{% endblock %}
