{% extends "admin/base_atlantis.html" %}
{% load static %}
{% block panel-header %}
<div class="page-navs bg-black py-3 pr-2">
    <div class="card-title fw-bold">
        AI-Generated Copy
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Tables</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Datatables</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block panel-inner %}
<div class="page-inner">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Copy Suggestions</h4>
                        {% comment %} <ul class="nav nav-pills nav-secondary ml-auto" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link {% if flow != 1 %}active{% endif %}" id="pills-flow1-tab" data-toggle="pill" href="#pills-flow" role="tab" aria-controls="pills-flow1" aria-selected="{% if flow != 1 %}true{% else %}false{% endif %}">Flow 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if flow == 1 %}active{% endif %}" id="pills-flow2-tab" data-toggle="pill" href="#pills-flow" role="tab" aria-controls="pills-flow2" aria-selected="{% if flow == 1 %}true{% else %}false{% endif %}">Flow 2</a>
                            </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
                {% comment %} {% if not suggestions %} {% endcomment %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if message %}
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="prod">Product</label>
                                    <input type="text" size="10" name="prod" id="prod" value="car loan" class="form-control">
                                </div>
                                
                                {% if ai_type in 'edits,chat' and stage != 'prod' %}
                                    {% if flow != 1 %}
                                    <div class="form-group tab-pane d-none" id="pills-flow2">
                                        <label for="segments">Segments (comma-delimited)</label>
                                        <input type="text" size="50" name="segments" id="segments" value="retiree, student, family" class="form-control">
                                        <input type="hidden" value="0" name="flow" id="flow" />
                                    </div>
                                    {% else %}
                                    <div class="form-group tab-pane" id="pills-flow2">
                                        <label for="segments">Segments (comma-delimited)</label>
                                        <input type="text" size="50" name="segments" id="segments" value="retiree, student, family" class="form-control">
                                        <input type="hidden" value="1" name="flow" id="flow" />
                                    </div>
                                    {% endif %}
                                {% endif %}
                                <div class="accordion accordion-secondary">
                                    <div class="card" style="background: transparent !important">
                                        <div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" role="button">
                                            {% comment %} <div class="span-icon">
                                                <div class="flaticon-box-1"></div>
                                            </div> {% endcomment %}
                                            <div class="span-title">
                                                Settings
                                            </div>
                                            <div class="span-mode"></div>
                                        </div>

                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <div class="form-group form-inline justify-content-between">
                                                        <label for="tokens">AI type</label>
                                                        <input type="text" id="ai_type" name="ai_type" value="{{ ai_type }}" class="form-control">
                                                    </div>
                                                </div>                
                                                <div class="form-group">
                                                    <div class="form-group form-inline justify-content-between">
                                                        <label for="tokens">Maximum length</label>
                                                        <input type="text" id="tokens" name="max_tokens" value="{{ max_tokens }}" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group top_p">
                                                    <div class="form-group form-inline justify-content-between">
                                                        <label for="top_p">Top_p</label>
                                                        <input type="text" id="top_p" name="top_p"  value="{{ top_p }}" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group temperature">
                                                    <div class="form-group form-inline justify-content-between">
                                                        <label for="temperature">Temperature</label>
                                                        <input type="text" id="temperature" name="temperature" value="{{ temperature }}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="accordion accordion-secondary">
                                    <div class="card" style="background: transparent !important">
                                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                                            {% comment %} <div class="span-icon">
                                                <div class="flaticon-box-1"></div>
                                            </div> {% endcomment %}
                                            <div class="span-title">
                                                Recent History
                                            </div>
                                            <div class="span-mode"></div>
                                        </div>

                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div id="name-list" data-toggle="lists" data-lists-values='["name"]'>
            
                                                    {% comment %} <input class="form-control search mb-2" type="search"> {% endcomment %}
            
                                                    <ul class="list-group list-group-bordered list history">
                                                       
                                                    </ul>
            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% comment %} {% endif %} {% endcomment %}
                {% if suggestions %}
                <div class="card-body">

                    <div class="modal fade" id="sendEmailModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="background: #202940">
                                <div class="modal-header border-0">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">
                                            Send New Email
                                        </span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="to" class="col-form-label col-md-2">To :</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="to" name="to">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="cc" class="col-form-label col-md-2">Cc :</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="cc" name="cc">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="subject" class="col-form-label col-md-2">Subject :</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="subject" name="subject">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <textarea class="form-control" id="content" rows="5"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="btn-label">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        Send
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    {% if segments|length > 0 %}
                                    <th>Segment</th>
                                    {% endif %}
                                    <th>Generated Copy</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if segments|length > 0 %}
                                    {% for seg, suggestion in suggestions.items %}
                                    <tr>
                                        <td>{{ product }}</td>
                                        <td>{{ seg }}</td>
                                        <td>{{ suggestion }}<br /><br /></td>
                                        <td>
                                            <div class="form-button-action">
                                                {% comment %} <a href="/admin/app/adtemplate/{{ adtemplate.id }}/change/" type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </a> {% endcomment %}
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task" onclick="editRow(this)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                {% if flow != 1 %}
                                                    {% if stage == 'segment' %}
                                                    <span data-toggle="tooltip" data-original-title="Send Email">
                                                        <button class="btn btn-link btn-secondary" data-original-title="Send Email" data-toggle="modal" data-target="#sendEmailModal" data-suggestion="{{ suggestion }}" onclick="handleEmailButtonClick(this)">
                                                            <i class="fas fa-envelope"></i>
                                                        </button>
                                                    </span>
                                                    {% endif %}
                                                {% else %}
                                                <span data-toggle="tooltip" data-original-title="Send Email">
                                                    <button class="btn btn-link btn-secondary" data-original-title="Send Email" data-toggle="modal" data-target="#sendEmailModal" data-suggestion="{{ suggestion }}" onclick="handleEmailButtonClick(this)">
                                                        <i class="fas fa-envelope"></i>
                                                    </button>
                                                </span>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                {% for suggestion in suggestions %}
                                    <tr>
                                        <td>{{ product }}</td>
                                        <td>{{ suggestion }}<br /><br /></td>
                                        <td>
                                            <div class="form-button-action">
                                                {% comment %} <a href="/admin/app/adtemplate/{{ adtemplate.id }}/change/" type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </a> {% endcomment %}
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task" onclick="editRow(this)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                {% if flow != 1 %}
                                                    {% if stage == 'segment' %}
                                                    <span data-toggle="tooltip" data-original-title="Send Email">
                                                        <button class="btn btn-link btn-secondary" data-original-title="Send Email" data-toggle="modal" data-target="#sendEmailModal" data-suggestion="{{ suggestion }}" onclick="handleEmailButtonClick(this)">
                                                            <i class="fas fa-envelope"></i>
                                                        </button>
                                                    </span>
                                                    {% endif %}
                                                {% else %}
                                                <span data-toggle="tooltip" data-original-title="Send Email">
                                                    <button class="btn btn-link btn-secondary" data-original-title="Send Email" data-toggle="modal" data-target="#sendEmailModal" data-suggestion="{{ suggestion }}" onclick="handleEmailButtonClick(this)">
                                                        <i class="fas fa-envelope"></i>
                                                    </button>
                                                </span>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" onclick="saveAll(this)">
                        <span class="btn-label">
                            <i class="fa fa-save"></i>
                        </span>
                        Save All
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block endscripts %}
<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 100,
            "order": []
        });
        $('#segments').change(function() {
            // Update the value of input2 here
            $('#mSegments').val($(this).val());
        });

        var tempSlider = $('#temp_slider');
        var topPSlider = $('#top_p_slider');
        var tokenSlider = $('#token_slider');

        var choice = $('#choice');
        var temperature = $('#temperature');
        var top_p = $('#top_p');
        var tokens = $('#tokens');

        var mChoice = $('#mChoice');
        var mTemperature = $('#mTemperature');
        var mTop_p = $('#mTop_p');
        var mMaxTokens = $('#mMax_tokens');

        choice.change(function() {
            console.log('choice change: ', choice.val());
            mChoice.val(choice.val());
        });
        temperature.change(function() {
            mTemperature.val(temperature.val());
        });
        top_p.change(function() {
            mTop_p.val(top_p.val());
        });
        tokens.change(function() {
            mMaxTokens.val(tokens.val());
        });

        choice.on('input', function() {
            console.log('choice inpute: ', choice.val());
            mChoice.val(choice.val());
        });
        temperature.on('input', function() {
            mTemperature.val(temperature.val());
        });
        top_p.on('input', function() {
            mTop_p.val(top_p.val());
        });
        tokens.on('input', function() {
            mMaxTokens.val(tokens.val());
        });

    });

    const historyList = document.querySelector('.history');
    var savedData = JSON.parse(localStorage.getItem('history'));
    if (savedData) {
        var htmlString = '';
        var recentItems = savedData.slice().reverse();
        recentItems.map(data => {
            let sdata = JSON.stringify(data).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;').replace(/'/g, '&#x27;').replace(/\//g, '&#x2F;');
            htmlString += `<button type="button" class="btn btn-link list-group-item list-group-item-action text-primary" data-saved-data='${sdata}' onclick="handleClickHistory(this)">`;
            htmlString += data.product ? `product: ${data.product}` : '';
            htmlString += data.segments && data.segments.length > 0 ? `, segments: ${data.segments}` : '';
            htmlString += '</button>';
        });
        historyList.innerHTML = htmlString;
    }
    function handleButtonClick(button) {
        // Get the data from the button
        const suggestion = button.dataset.suggestion;
        const mSuggestion = document.querySelector("#mSuggestion");
        mSuggestion.value = suggestion;
    }

    function handleEmailButtonClick(button) {
        // Get the data from the button
        const suggestion = button.dataset.suggestion;
        const mSuggestion = document.querySelector("#mSuggestion");
        mSuggestion.value = suggestion;
    }

    function editRow(button) {
        const originalTitle = button.getAttribute('data-original-title');
        const row = button.closest('tr');
        if (originalTitle === 'Edit Task') {
            button.innerHTML = '<i class="fa fa-save"></i>';
            button.setAttribute('data-original-title', 'Save Task');
            if (row.cells.length === 3) {
                row.cells[1].contentEditable = true;
                row.cells[1].style.cssText = 'border: 1px solid yellow !important;';
                row.cells[1].focus()
                var range = document.createRange();
                var sel = window.getSelection();
                range.setStart(row.cells[1].childNodes[0], row.cells[1].textContent.length);
                range.collapse(true);
                sel.removeAllRanges();
                sel.addRange(range);
            }
            if (row.cells.length === 4) {
                row.cells[2].contentEditable = true;
                row.cells[2].style.cssText = 'border: 1px solid yellow !important;';
                row.cells[2].focus()
                var range = document.createRange();
                var sel = window.getSelection();
                range.setStart(row.cells[2].childNodes[0], row.cells[2].textContent.length);
                range.collapse(true);
                sel.removeAllRanges();
                sel.addRange(range);
            }            
        } else {
            button.innerHTML = '<i class="fa fa-edit"></i>';
            button.setAttribute('data-original-title', 'Edit Task');
            if (row.cells.length === 3) {
                row.cells[1].contentEditable = false;
                row.cells[1].style.borderWidth = '0px';
            }
            if (row.cells.length === 4) {
                row.cells[2].contentEditable = false;
                row.cells[2].style.borderWidth = '0px';
            }
        }
        // You can perform some other action with the data here
    }

    function saveAll(button) {
        const buttons = document.querySelectorAll('button[data-original-title="Save Task"]');
        buttons.forEach(btn => {
            btn.innerHTML = '<i class="fa fa-edit"></i>';
            btn.setAttribute('data-original-title', 'Edit Task');
        });
        var table = document.getElementById("add-row");
        var tds = table.querySelectorAll("td div.form-button-action");
        tds.forEach(td => {
            const row = td.closest('tr');            
            const cells = Array.from(row.cells);
            cells.forEach(cell => {
                if (cell.contentEditable === true) {
                    cell.contentEditable = false;
                }
            });
        });

        const product = "{{ product }}";
        const segments = [
            {% for segment in segments %}
                "{{ segment }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        var suggestions = [];

        if (segments.length > 0) {
            suggestions = [
                {% for suggestion in suggestions.values %}
                    "{{ suggestion|escapejs }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];
        } else {
            suggestions = [
                {% for suggestion in suggestions %}
                    "{{ suggestion|escapejs }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];
        }

        const data = {
            product,
            segments,
            suggestions
        };
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const url = '/content/generate_copy_list_data';
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = url;
        for (const key in data) {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = key;
            input.value = data[key];
            form.appendChild(input);
        }
        var csrfTokenInput = document.createElement("input");
        csrfTokenInput.type = "hidden";
        csrfTokenInput.name = "csrfmiddlewaretoken";
        csrfTokenInput.value = "{{ csrf_token }}";
        form.appendChild(csrfTokenInput);
        document.body.appendChild(form);
        form.submit();
    }

    function handleClickHistory(button) {
        const siblings = button.parentNode.childNodes;
        for (var i = 0; i < siblings.length; i++) {
            sibling = siblings[i];
            sibling.classList.remove('active');
        }
        button.classList.add('active');
        const savedData = button.getAttribute('data-saved-data');
        const parsedData = JSON.parse(savedData);
        console.log('parsedData: ', parsedData);

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const url = '/content/generate-copy_history/';
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = url;
        const historyInput = document.createElement('input');
        historyInput.type = 'text';
        historyInput.name = 'history';
        historyInput.value = savedData;
        form.appendChild(historyInput);
        var csrfTokenInput = document.createElement("input");
        csrfTokenInput.type = "hidden";
        csrfTokenInput.name = "csrfmiddlewaretoken";
        csrfTokenInput.value = "{{ csrf_token }}";
        form.appendChild(csrfTokenInput);
        document.body.appendChild(form);
        form.submit();
    }

    // Get the modal element
    const modal = document.getElementById("getSegmentsModal");

    window.addEventListener("pageshow", function(event) {
        console.log("pageshow");
        // Check if the modal dialog is open
        if (modal) {
          // Reset the select box to its initial state
          temp_type_select.selectedIndex = 0;
          ai_type_select.selectedIndex = 0;
        }
    });

</script>
{% endblock %}