{% extends "admin/base_atlantis.html" %}
{% load static %}
{% block startheadscripts %}
    <style>
        .swal-modal {
            background-color:#1f283e;
        }
        .swal-text {
            color: white ;
        }   
        .swal-title {
            color: white ;
        } 
    </style>
{% endblock %}
{% block panel-header %}
<div class="page-navs bg-black py-3 pr-2">
    <div class="card-title fw-bold">Products</div>
</div>
{% endblock %}
{% block panel-inner %}
{% include 'admin/modal.html'  %}
{% if companies %}
{% include 'admin/companies.html' with companies=companies view_name='products_list' %}
{% else %}
<input type="hidden" id="kg_list" value="{{ kg_list }}">
<div class="page-inner page-inner-fill">
    <div id="myKanban" class="board">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}} alert-dismissible fade show mb-0" role="alert" id="alert-msg">
                    <strong>{{msg|safe}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-top:0 !important;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <br/>
        {% endif %}            
        {% for i in gs_data %}
        <div data-id="{{ i.board_title }}" class="kanban-board">
            <header class="kanban-board-header">
                <div class="kanban-title-board">{{ i.board_label }}</div>
                <div class="kanban-title-button d-inline-flex">
                    <button class="mr-2 add_btn" ><i class="fas fa-plus-circle"></i></button>
                    <!--<div class="dropdown dropdown-kanban">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-options-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Move</a>
                            <a class="dropdown-item" href="#">Duplicate</a>
                            <a class="dropdown-item" href="#">Trash</a>
                        </div>
                    </div>-->
                </div>
            </header>
            <main class="kanban-drag" title="{{ i.board_title }}">
                {% for rec in i.products %}
                <div class="kanban-item">
                    <a href="#" class="kanban-title">{{ rec.setting_value }}</a>
                    <div class="kanban-edit remove_product" product_id="{{ rec.id }}">
                        <i class="fa fa-trash"></i>
                    </div>
                    {% comment %}<div class="kanban-badges">
                        <div class="kanban-badge">
                            <i class="far fa-comment-alt"></i>
                            <span class="badge-text">2</span>
                        </div>
                        <div class="kanban-badge">
                            <i class="fas fa-paperclip"></i>
                            <span class="badge-text">10</span>
                        </div>
                    </div>
                     {% endcomment %}
                </div>

                {% endfor %}

            </main>
        </div>
        {% empty %}
            <p>No Product Exist.</p>
        {% endfor %}

    </div>
</div>
{% endif %}

{% endblock %}
{% block endscripts %}
<script>
        jQuery(document).ready(function() {
        kg_list = JSON.parse(jQuery("#kg_list").val());
        
        jQuery("#myKanban.board").on('click', '.add_btn', function() {
            existing_products = []
            non_existing_products = []
            existing_products_obj = jQuery(this).parent().parent().next().children().find('.kanban-title')
            existing_products_obj.each(function(ind, value) {
                existing_products.push(jQuery(value).text())
            })

            kg_list.forEach(function(value, ind) {
                if (!existing_products.includes(value)) {
                    non_existing_products.push(value)
                }
            })            
            console.log(non_existing_products)
            if(non_existing_products.length > 0) {
                jQuery("select#selected").empty()
                jQuery("select#selected").html("<option value=''>Select Product</option>")
                sorted_non_existing_products = non_existing_products.sort()
                sorted_non_existing_products.forEach(function(value) {
                    jQuery("select#selected").append("<option value='"+value+"'>"+value+"</option>")
                })
            }
            else {
                alert('No Product Exist.')
                return false;                
            }
            
            jQuery("#modal .card-header h4").text(jQuery(this).parent().prev().text());
            jQuery("#setting_name").val(jQuery(this).parent().parent().parent().attr('data-id'));
            jQuery("#modal").modal('show');
            
        })

        jQuery("#myKanban.board .kanban-item").on('click', '.remove_product', function() {
            product_id = jQuery(this).attr("product_id")
            cu_id = "{{ request.GET.cu_id }}";
            swal({
                title: 'Delete Confirmation',
                text: "Please confirm that you want to delete this product.",
                type: 'warning',
                buttons:{
                    confirm: {
                        text : 'Yes, Delete',
                        className : 'btn btn-danger',
                    },
                    cancel: {
                        text: 'No, Cancel',
                        visible: true,
                        className: 'btn btn-gray'
                    }
                }
            }).then((Delete) => {
                if (Delete) {
                    redirect_url = "{% url 'products_list' %}"+"/delete/"+product_id+"?cu_id="+cu_id
                    window.location.href = window.location.origin+redirect_url
                } else {
                    swal.close();
                }
            });
        }); 
        return false;
    });
</script>
<script>
    'use strict';

    // Kanban Board Demo
    // =============================================================

    var boardDemo = {
        init: function init() {

            this.bindUIActions();
        },
        bindUIActions: function bindUIActions() {
            // event handlers
            this.handleBoardStyle();
            this.handleSortable();
        },
        byId: function byId(id) {
            return document.getElementById(id);
        },
        handleBoardStyle: function handleBoardStyle() {
            $(document).on('mouseenter mouseleave', '.kanban-board-header', function (e) {
                var isHover = e.type === 'mouseenter';
                $(this).parent().toggleClass('hover', isHover);
            });
        },
        handleSortable: function handleSortable() {
            var board = this.byId('myKanban');
            // Multi groups
            Sortable.create(board, {
                animation: 150,
                draggable: '.kanban-board',
                handle: '.kanban-board-header',
                filter: '.ignore-sort',
                forceFallback: true
            });[].forEach.call(board.querySelectorAll('.kanban-drag'), function (el) {
                Sortable.create(el, {
                    group: 'tasks',
                    animation: 150,
                    filter: '.ignore-sort',
                    forceFallback: true,
					// Called by any change to the list (add / update / remove)
					onSort: function (/**Event*/evt) {
                        jQuery.ajax({
                            type: 'GET',
                            url: window.location.origin+'/ai-settings/update-products-order-ajax?cu_id={{ cu_id }}',
                            data: {"oldIndex": evt.oldIndex, "newIndex": evt.newIndex, "board_title":evt.from.attributes.getNamedItem('title').value},
                            success: function(response) {
                                if(response.status == 0) {
                                    alert('something went wrong.')
                                }
                            }

                        });
					}
                });
            });
        }
    };

    boardDemo.init();



</script>
{% endblock %}