<ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <!--<li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>#}-->
    <li><a href="/admin">Admin</a></li>
    <li><a href="/api/v1">API</a></li>
    <!--<li><a href="/demo">Demo</a></li>
    <li><a href="/client-demo">Truliant Demo</a></li>-->
    <li><a href="/images/">Assets</a></li>
    <li><a href="/campaigns-list/">A/B Testing</a></li>
    <li><a href="/reports/personalization">Reports</a></li>
</ul>