        const pie = {}
        var temp = {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
        };

        var title = {
          text: "NCUA Data Series: XYZ Credit Union",
        };
        var tooltip = {
          pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>",
        };
        var plotOptions = {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",

            dataLabels: {
              enabled: true,
              format: "<b>{point.name}%</b>: {point.percentage:.1f} %",
              style: {
                color:"black",
              },
            },
          },
        };
        var series = [
          {
            type: "pie",
            name: "Browser share",
            data: [
              {
                name: "q1",
                y: 800.0,
                color: {
                  radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7,
                  },
                  stops: [
                    [0, "#5E7705"],
                    [1, "#9DC335"],
                  ],
                },
              },
              {
                name: "q2",
                y: 780.0,
                sliced: true,
                selected: true,
                color: {
                  radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7,
                  },
                  stops: [
                    [0, "#8B2A43"],
                    [1, "#ED2A76"],
                  ],
                },
              },
              {
                name: "q3",
                y: 1050.0,
                color: {
                  radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7,
                  },
                  stops: [
                    [0, "#063E54"],
                    [1, "#6B8795"],
                  ],
                },
              },
              {
                name: "q4",
                y: 950.0,
                color: {
                  radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7,
                  },
                  stops: [
                    [0, "#F2981B"],
                    [1, "#C13B00"],
                  ],
                },
              },
            ],
          },
        ];
        //constant pie = {};
        pie.chart = temp;
        pie.title = title;
        pie.tooltip = tooltip;
        pie.series = series;
        pie.plotOptions = plotOptions;
