.body-content h1 {
    margin-top:45px;
}
.body-content p a {
    
    text-decoration: underline;
}
.body-content table tr label {
    padding: 7px 7px 7px 0;
}
.body-content a:visited {
    color: transparent;
}

.d-none {
    display: none !important;
}

.loginSegmentRight{
    background-image: url(../images/segment_pic.svg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%;
}
.loginSegmentLeft form table {
    margin-bottom: 10px;
}
.loginSegmentLeft form table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
.loginSegmentLeft form table td input {
    margin-left:10px;
}